# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/
venv/

# Secrets / env
.env
.env.*
instance/
config.py

# DB (ako ne želiš u repo)
*.db
*.sqlite
*.sqlite3

# OS / editor
.DS_Store
.vscode/
.idea/
